* {
    box-sizing: border-box;
}

#main {
    width: 650px;
    margin: auto;
}

.btn-div {
    margin: auto;
    width: 100px;
    height: 35px
}

.btn-div button {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
}

.off {
    background: white;
    width: 10px;
    height: 10px;
    border: 1px solid lightgreen;
}

.on {
    background: green;
    width: 10px;
    height: 10px;
    /*   border: 1px solid green; */
}